.headerDiv {
    height: 60px;
    z-index: 1;
}

.fa-bars, .fa-undo {
    position: fixed;
    top: 12px;
}

.fa {
    transition: all .2s ease-in-out;
}

.fa:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.fa-bars {
    left: 8px;
    background-color: black;
    opacity: .7;
    padding: 8px 10px;
    border-radius: 8px;
}

.fa-undo {
    right: 8px;
}