#roller-wrapper {
    position: fixed;
    top: 10px;
    right: 8px;
    z-index: 4;
    height: 60px;
}

#roller-wrapper>i:first-child {
    border-radius: 8px 0  0 8px;
}

#roller-wrapper>i {
    background-color: black;
    opacity: .7;
    padding: 8px;
}

#roller-wrapper>i:last-child {
    border-radius: 0 8px 8px 0;
}