<div id="menuWrapper" class="menuInactive">
  <ul id="outer-list" class="list-unstyled">

    <li class="menuItem">
      <h3 (click)="showChoosePlayers()" >Player Count</h3>
      <ul class="list-inline choosePlayers-inactive" id="choosePlayers" >
        <li>
          <i class="fas fa-dice-two" (click)="playerCount(2)" ></i>
        </li>
        <li>
          <i class="fas fa-dice-three" (click)="playerCount(3)" ></i>
        </li>
        <li>
          <i class="fas fa-dice-four" (click)="playerCount(4)" ></i>
        </li>
      </ul>
    </li>

    <li class="menuItem">
      <h3 (click)="showBgList()">Background</h3>
      <ul id="bgList" class="list-unstyled bgMenu-inactive">
        <li (click)="changeBg('battle.jpg')">Battle</li>
        <li (click)="changeBg('beach.jpg')">Beach</li>
        <li (click)="changeBg('castle.jpg')">Castle</li>
        <li (click)="changeBg('dd.png')">Fantasy</li>
        <li (click)="changeBg('forest.jpg')">Forest</li>
        <li (click)="changeBg('lava.jpg')">Lava</li>
        <li (click)="changeBg('mist.jpg')">Mist</li>
        <li (click)="changeBg('space.jpg')">Space</li>
        <li (click)="changeBg('swamp.jpg')">Swamp</li>
      </ul>
    </li>

    <li class="menuItem">
      <h3 (click)="showFontList()">Font</h3>
      <ul id="fontList" class="list-unstyled fontList-inactive">
        <li (click)="changeFont('Caesar Dressing')">Caesar Dressing</li>
        <li (click)="changeFont('Nova Oval')">Nova Oval</li>
        <li (click)="changeFont('Jolly Lodger')">Jolly Lodger</li>
        <li (click)="changeFont('Vollkorn SC')">Vollkorn SC</li>
        <li (click)="changeFont('Della Respira')">Della Respira</li>
        <li (click)="changeFont('Almendra SC')">Almendra SC</li>
        <li (click)="changeFont('Cormorant Unicase')">Cormorant Unicase</li>
        <li (click)="changeFont('Julius Sans One')">Julius Sans One</li>
        <li (click)="changeFont('Black And White Picture')">Black And White Picture</li>
        <li (click)="changeFont('Aclonica')">Aclonica</li>
      </ul>
    </li>

    <li class="menuItem">
      <h3 (click)="showRules()">Rules</h3>
      <ul id="rules" class="list-unstyled rules-inactive">
        <li>
          <a href="../../assets/EN_M15_QckStrtBklt_LR_Crop.pdf" target="qsWindow">Quickstart Guide</a>
        </li>
        <li>
          <a href="../../assets/MagicCompRules 20180413.pdf" target="compWindow">Comprehensive Rules</a>
        </li>
      </ul>
    </li>

  </ul>
  <i id="closeMenu" (click)="hideMenu()" class="fa fa-times"></i>
</div>