#menuWrapper {
    background-color: black;
    font-size: 0.75em;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 250px;
    background-color: black;
    opacity: .8;
    transition: all .2s ease-in-out;
    z-index: 2;
}

#closeMenu {
    position: absolute;
    top: 12px;
    right: 12px;
}

li,
#closeMenu {
    transition: all .2s ease-in-out;
}

li:hover,
#closeMenu:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#outer-list {
    position: relative;
    top: 40px;
    margin: 12px;
}

.menuInactive {
    left: -250px;
}

.menuActive {
    left: 0px;
}

#bgList, #fontList {
    overflow: hidden;
    padding-left: 12px;
    margin-top: 12px;
    font-size: .70em;
    transition: all .2s ease-in-out;
}

#fontList {
    overflow: hidden;
    padding: 0 0 0 12px;
    font-size: .70em;
    transition: all .2s ease-in-out;
}

.bgMenu-active {
    height: 250px;
}

.fontList-active {
    height: 300px;
}

.bgMenu-inactive {
    height: 0px;
}

.fontList-inactive {
    height: 0px;
}

.menuItem {
    margin-top: 12px;
}

#rules {
    overflow: hidden;
    padding: 0 0 0 12px;
    font-size: .70em;
    transition: all .2s ease-in-out;
}

.rules-active {
    height: 200px;
}

.rules-inactive {
    height: 0;
}


#bgList,
#fontList,
#rules>li>a,
#choosePlayers>li {
    text-decoration: none;
    color: green;
}

#choosePlayers {
    overflow: hidden;
    padding: 0 0 0 12px;
    transition: all .2s ease-in-out;
}

.choosePlayers-active {
    height: 60px;
}

.choosePlayers-inactive {
    height: 0;
}

#choosePlayers {
    display: flex;
    justify-content: space-evenly;
}

#choosePlayers > li {
    display: inline;
    font-size: 1.5em;
}