#menuWrapper {
    font-size: 0.75em;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 250px;
    background-color: black;
    opacity: .8;
    transition: all .2s ease-in-out;
    z-index: 2;
}

ul {
    margin: 50px 0;
}

li {
    padding: 8px;
    margin: 12px;
}

#closeMenu {
    position: absolute;
    top: 12px;
    right: 12px;
}

li, #closeMenu {
    transition: all .2s ease-in-out;
}

li:hover, #closeMenu:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.menuInactive {
    left: -250px;
}

.menuActive {
    left: 0px;
}