.flex-container {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    position: fixed;
    top: 60px;
    height: 90vh;
    width: 100vw;
    z-index: 0;
}

.playerName {
    position: relative;
    bottom: 4px;
}

.li-wrapper {
    padding: 12px 10px 6px 12px;
    background-color: black;
    opacity: .7;
    display: inline-block;
    border-radius: 8px;
}

.list-item {
    margin: 4px;
    flex-shrink: 1;
}

@media screen and (max-width: 450px) {
    #player-name-input-label {
        display: block;
    }
    
    .li-wrapper {
        width: 90vw;
        margin: 0 5vw;
    }
}

@media screen and (max-height: 700px) {
    .flex-container {
        justify-content: center;
    }
}

@media screen and (max-height: 450px) {
    .flex-container {
        justify-content: flex-start;
    }
}